<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>ID#</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let response of surveyResponses">
          <td data-label="Name">{{ response.name }}</td>
          <td data-label="Email">{{ response.email }}</td>
          <td data-label="ID#">{{ response.age }}</td>
          <td data-label="Comment">{{ response.feedback }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  